* {
    box-sizing: border-box;
}

.logo {
    border: none !important;
}
.circles {
    border-bottom: 1px solid grey ;
}
.circle {
    border: 5px solid white;
    border-radius: 50%;
    width:  105px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    margin: 2em;
}
.circle-text {
    color: white;
    font-family: 'anton', sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    bottom: 50%;
}
.small-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;

}
.sm-circle-text {
    text-align: center;
    width: 100%;
    bottom: 50%;
    font-family: 'anton', sans-serif;
    font-size: 10px;
}
h1, h2 {
    font-family: 'Anton', sans-serif;
    padding-bottom: 1em;
}
h1 {
    padding-top: 1em;
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-family: 'Abel', sans-serif;
}
img {
    border-radius: 1%;
    padding: 0;
    margin: 0;
    border: 10px solid #e6e6e6;
}
.sec {

}
.thumbnail {
    margin-bottom: 4em;
}
.fab {
    color: #1c99e6;
}
.bottom-header {
    margin-bottom: 3em;
}
.para {
    margin-top: 1em;
}
li {
    list-style: none;
    margin: 0 2vw;

}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: Abel;
}

nav {
    width: 100vw;
    background-color: #D6EFF ;

}


ul {

    margin: 0;
    padding: 0;
    display: flex;

}

body {
    margin:0;
}

