body {
    background-color: #f0f0f0;
}
.logo{
    width: 105px;
    height: 105px;
    border: none;
}
.list {
    display: flex;
    justify-content: center;
}
ul {
    columns: 105px 2;
    color: #f0f0f0;
}
.circle {
    width: 105px;
    height:105px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle2 {
    width: 120px;
    height:120px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin: auto;
}
img {
    border-style: solid;
    border-width: 10px;
    border-radius: 2%;
    border-color: #e6e6e6;
}