* {
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
}
.circle {
    border: 5px solid white;
    border-radius: 50%;
    width:  105px;
    height: 105px;
    position: relative;
    line-height: 0;
}
.circle-text {
    color: white;
    font-family: 'anton', sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    bottom: 50%;
    position: absolute;
}
.small-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
    line-height: 0;
}
.sm-circle-text {
    text-align: center;
    width: 100%;
    bottom: 50%;
    font-family: 'anton', sans-serif;
    position: absolute;
}
h1, h2 {
    font-family: 'Anton', sans-serif;
    padding-bottom: 1em;
}
h1 {
    padding-top: 1em;
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h5 {
    font-family: 'Abel', sans-serif;
}
.first-pic, .second-pic, .third-pic, .fourth-pic {
    border-radius: 1%;
    padding: 0px;
    margin: 0;
    border: 10px solid #e6e6e6;
}
